<div class="modal-header">   <a class="close" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-times-circle-o" style="margin:10px;color:black;font-size:35px;"></i></a><h1>Customer</h1></div><div class="modal-body"><form >
<label class="col-sm-3 control-label no-padding-right ng-binding">Name:</label>
<input style = "width:200px;"type="text" class="form-control ng-scope ng-pristine ng-valid" ng-model="person.name"></br>
<label class="col-sm-3 control-label no-padding-right ng-binding">Lastname:</label><input style = "width:200px;" type="text" class="form-control ng-scope ng-pristine ng-valid" ng-model="person.Lastname"></br>
<label class="col-sm-3 control-label no-padding-right ng-binding">Age:</label><input style = "width:200px;" type="number"class="form-control ng-scope ng-pristine ng-valid" ng-model="person.age"></br> 
<button id = "myid" type="button" class="btn btn-success" ng-click="add(person.name)"><i class="ace-icon fa fa-check"></i>Save</button>
<button type="reset" class="btn ">Clear</button>
</form>
</div>
<div class="modal-footer">
	<a data-dismiss="modal" aria-hidden="true" class="btn btn-primary" ng-click="cancel()"><CENTER></CENTER>lose</a>
</div>